
<div class="footer">

    <div class="footer1">
        <div class="rec">

            <div id="mail" class="rec1">
                <div class="loc">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <p>info@alhabibfoods.com</p>
            </div>

            <div id="url" class="rec1">
                <div class="ea">
                    <i class="fas fa-globe"></i>
                </div>
                <p>www.Pak-Salt.com</p>
            </div>

            <div id="call" class="rec1">
                <div class="ph">
                    <i class="fas fa-phone"></i>
                </div>
                <p>+923116417530</p>
            </div>

        </div>
    </div>

    <div class="footer2">
        <p>Copyright <i class="fas fa-copyright"></i> Pak Salt All Rights Reserved
        </p>
        <strong>AL HABIB INDUSTRIES</strong>
    </div>

</div>
