


    <div class="mainc"> 
        <h4>CONTACT US</h4>
            <a href="index.ejs">Home</a>
            <a href="contact.ejs"> - Contact</a>
    </div>

    <div class="contactInfoc">
        <h1>CONTANCT INFORMATION</h1>

        <div class="karachic">
            <h2>Address Karachi</h2>
            <p>Rice Trade Centre, 
                <br>
                   <b> Office No.</b> 
                    304,Opp City Court,Karachi-Pakistan.
                 <br>
             
                   <b> Land line # </b>
                     +92-21-32767755
                <br>

                   <b> Mobile #</b> 
                     +92-311-6417530 Same WhatsApp</p>
        </div>

        <div class="isbc">
            <h2>Address Islamabad</h2>
            <p>PARK VIEW PLAZA <br>
                   <b> Plot # </b> 
                47, OFFICE NO.05,. BLOCK B, OPP PAKISTAN POST, SET B-17, ISLAMABAD.PAKISTAN.
                 <br>
                   <b> Cell # </b> 
                +92-311-6417530
        </div>

        <br>
        <p>
            You Can Reach Out To Us For All Your Queries And Feedback. We Will Be Happy To Serve You.
        </p>

        <div class="wsc">      
        </div>

        
