
     body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        color: #333;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #000;
    }

    p.lead {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    a.btn {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        background-color: #fcc236;
        border: 2px solid #000;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    a.btn:hover {
        background-color: #000;
        color: #fcc236;
    }

    a.btn-dark {
        background-color: #333;
        color: #fff;
    }

    a.btn-dark:hover {
        background-color: #555;
        color: #fff;
    }