

        <div class="mainpr"> 
            <h4>PAKSALT PRODUCTS</h4>
        </div>

        <div class="productspr"> 
            <h2><b>OUR <span> PRODUCTS</span></b></h2>
            
            <div id="arrapr">
                <p>Pak Salt offer a large selection of Himalayan salt products at a fair price. We offer Himalayan salt lamps give an original style for your space.We can be reached directly by email or calling us with any questions.</p> 
            </div>
        </div>

    <div class="prdpr">
        <div class="typesp">
            <div id="lightpinkp" class="types1p"></div>
            <div id="darkpinkp" class="types1p"></div>
            <div id="crystalwhitep" class="types1p"></div>
            <div id="blackp" class="types1p"></div> 
        </div>

        <!--Sixth Div-->

        <div id="descriptionp">
            <div id="n1p" class="name1p">
                HIMALAYAN LIGHT PINK SALT 
            </div>
            <div id="n2p" class="name1p">
                HIMALAYAN DARK PINK SALT
            </div>
            <div id="n3p" class="name1p">
                HIMALAYAN CRYSTAL WHITE SALT
         </div>
            <div id="n4p" class="name1p">
                HIMALAYAN BLACK SALT
            </div>
        </div>


        <h2>BEST HIMALAYAN SALT PRODUCTS</h2>

        <!--Seventh Div-->

        <div class="lengthp">
            <div id="ediblep" class="len1p"></div>
            <div id="whitep" class="len1p"></div>
            <div id="lightpinkLp" class="len1p"></div>
            <div id="darkpinkLp" class="len1p"></div> 
        </div>

        <!--Eighth Div-->

        <div id="labelp">
            <div id="L1p" class="label1p">
                HIMALAYAN EDIBLE SALT 
            </div>
            <div id="L2p" class="label1p">
                HIMALAYAN WHITE SALT 3-5 CM
            </div>
            <div id="L3p" class="label1p">
                HIMALAYAN LIGHT PINK SALT 3-5 CM
         </div>
            <div id="L4p" class="label1p">
                HIMALAYAN DARK PINK SALT 3-5 CM
            </div>
        </div>


        <h2>VARIETY OF PAK SALT PRODUCTS</h2>

        <!--Ninth Div-->

        <div class="shapesp">
            <div id="animalp" class="shape1p"></div>
            <div id="tilesp" class="shape1p"></div>
            <div id="heartp" class="shape1p"></div>
            <div id="usbp" class="shape1p"></div> 
        </div>

        <!--Tenth Div-->

        <div id="tagp">
            <div id="t1p" class="tag1p">
                ANIMAL LICK SALT 
            </div>
            <div id="t2p" class="tag1p">
                HIMALAYAN SALT TILES
            </div>
            <div id="t3p" class="tag1p">
                HEART SHAPE HIMALAYAN SALT LAMP
         </div>
            <div id="t4p" class="tag1p">
                HIMALAYAN SALT USB SHAPE LAMP
            </div>
        </div>

        <h2>BEST HIMALAYAN SALT PRODUCTS</h2>


        <div class="bestp">
            <div id="glassp" class="best1p"></div>
            <div id="firep" class="best1p"></div>
            <div id="bathp" class="best1p"></div>
            <div id="ironp" class="best1p"></div> 
        </div>

        <div id="ughp">
            <div id="U1" class="ugh1">
                HIMALAYAN SALT GLASS 
            </div>
            <div id="U2" class="ugh1">
                HIMALAYAN SALT BEAUTIFUL FIRE BOWL
            </div>
            <div id="U3" class="ugh1">
                BATH SALTS
         </div>
            <div id="U4" class="ugh1">
                HIMALAYAN SALT IRON BASKET 
            </div>
        </div>

        <h2>VARIETY OF PAK SALT PRODUCTS</h2>


        <div class="pk">
            <div id="salad" class="pk1"></div>
            <div id="lampsalt" class="pk1"></div>
            <div id="dill" class="pk1"></div>
            <div id="gol" class="pk1"></div> 
        </div>

        <div id="pasta">
            <div id="PS1" class="pasta1">
                HIMALAYAN SALT SALAD BOWL
            </div>
            <div id="PS2" class="pasta1">
                LAMP SALT
            </div>
            <div id="PS3" class="pasta1">
                HEART SHAPE HIMALAYAN SALT LAMP
         </div>
            <div id="PS4" class="pasta1">
                HIMALAYAN SALT GLOBE SHAPE LAMP
            </div>
        </div>

    </div>
    


