
    
    
        <div class="mainab"> 
            <h4>ABOUT US</h4>
                <a href="index.html">Home</a>
                <a href="about.html"> - About Us</a>
        </div>


        <div class="productsab"> 
            <h2><b>About <span> PAK SALT</span></b></h2>
            
            <div id="arraab">
                <p>Pak Salt renowned for its premium salt that is produced in various grades and processed using the most modern and efficient technique. We are known as the best exporter because of our systematic and well-planned products which undergo uncompromising inspections and quality assurance. The one and only Salt business in Pakistan that is able to offer all kinds of salt in all kinds of packaging that is tailored to customer needs.</p> 
            </div>
            <br>
            <div class="whatsappab">
            </div>
        </div>

        
        <div class="workab">
            <div class="parasab">
                <div class="loveab">
                    <h2>WHAT WE LOVE TO DO</h2>
                    <P>Salt Pakistan is the best exporter of Himalayan Salt products in Pakistan. Our primary focus is to provide high-quality products at competitive prices and timely shipment.</P>
                </div>

                <div class="missionab">
                    <h2>OUR MISSION</h2>
                    <p>We exclusively export and sell premium high-quality Himalayan pink salt, We do not sacrifice quality, and strive to do all we can to satisfy our clients..</p>
                </div>

            </div>
            <div class="imab">    
            </div>
        </div>

    