<header>

    <!--First Navbar-->

    <div class="navbar">
        <div class="empty">
        </div>
        <div class="info">
            <div class="information">
                <p><B>INFO@ALHABIBFOODS.COM</B>
                </p>
            </div>
            <div class="phone">
                <a href="#">+923116417530</a>
            </div>   
        </div>
    </div>

    <!--Second Navbar-->

    <div class="navbar2">
            <div class="image">
                <img src="/images/images.png" alt="logo">
            </div>
        <div class="menu">
                <a href="/">
                    HOME
                </a>
                <a href="about">
                    ABOUT
                </a>
                <a href="/products">
                    PRODUCTS
                </a>
                <a href="contact">
                    CONTACT
                </a>
                <a href="/admin">
                    ADMIN
                </a>
        </div>
        <div class="search">
            <div class="searchbar">
                <input type="text" placeholder="SREACH">
                <div class="logo">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>
</header>